h1 {
  color: black;
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
}
p {
  font-family: "poppins", sans-serif;
  font-weight: normal;
}
.hero {
  background: #f9f7fe;
  text-align: center;
}
